* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* Container */
.app {
  width: 420px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 15px;
}

/* Balance */
.balance-card {
  text-align: center;
  margin-bottom: 15px;
}

/* Summary */
.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.income, .expense {
  width: 48%;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

.income {
  background: #e6fff5;
  color: #00a86b;
}

.expense {
  background: #ffecec;
  color: #e63946;
}

/* Form */
.form input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.form button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background: #4338ca;
}

/* History */
.history ul {
  list-style: none;
  max-height: 220px;
  overflow-y: auto;
}

/* Empty */
.empty {
  text-align: center;
  color: #777;
  margin-top: 10px;
}

/* Transaction */
.history li {
  background: #fafafa;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Color */
.plus {
  border-left: 4px solid #00a86b;
}

.minus {
  border-left: 4px solid #e63946;
}

/* Amount clickable */
.amount {
  cursor: pointer;
  font-weight: 500;
}

/* Delete button */
.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #e63946;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;

  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s;
}

/* Show on hover */
.history li:hover .delete-btn {
  opacity: 1;
  transform: scale(1);
}

/* Show on click */
.show-delete .delete-btn {
  opacity: 1;
  transform: scale(1);
}