* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

.app {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  text-align: center;
  width: 300px;
}

.row {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
  margin: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}