* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #1a1a1a;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 25px;
}

/* Underline animation */
.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff7eb3;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Active link */
.nav-links a.active {
  color: #ff7eb3;
}

/* Hamburger */
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* 📱 Mobile */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    width: 220px;
    height: 100vh;
    background: #1a1a1a;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    transition: 0.4s;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-icon {
    display: block;
  }
}