* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.slider {
  position: relative;
  width: 600px;
  text-align: center;
}

.slider img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #ff7eb3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ff4f81;
}